.footer {
    width: 1280px;
    height: 60px;
    margin: 10px auto 10px auto;
    background: #fff;

    .list {
        list-style-type: none;
        
        .item {
            line-height: 60px;
            text-decoration: none;

            .link {
                color:cornflowerblue;
                text-decoration: none;
            }
        }
    }
}