.footer {
  height: 60px;
  background: #fff;

  .list {
    list-style-type: none;

    .item {
      line-height: 60px;
      text-decoration: none;

      .link {
        color: cornflowerblue;
        text-decoration: none;
      }
    }
  }
}
