@font-face {
    font-family: "iconfont"; /* Project id 3064026 */
    src: url('//at.alicdn.com/t/font_3064026_4kx248klxa3.woff2?t=1640522051663') format('woff2'),
         url('//at.alicdn.com/t/font_3064026_4kx248klxa3.woff?t=1640522051663') format('woff'),
         url('//at.alicdn.com/t/font_3064026_4kx248klxa3.ttf?t=1640522051663') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  